html {
    scroll-behavior: smooth;

}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #FEF2F1;
}

.Ed {
    margin: 5%;
}

.name {
    font-size: 55px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: #E8614D;
}
.img_id{
    margin-top: 22%;
}

.bar {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align:center;

}
span {
    content: "\00B7";
    color: #E8614D;
}

    .bar a {
        text-decoration: none;
        color: #F58F45;
        padding: 2%;
    }
    .bar a:hover{
        text-decoration: underline;
    }


hr {
    border: 1px solid #E8614D;
}

.image {
    text-align: right;
    background: green;
    margin-left: 20%;
    margin-top: 5%;
    width: 40%;
    height: auto;
    box-shadow: 0 4px 8px 0 #252424;
}


.content_1 {
    font-family: 'Open Sans Condensed', sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    text-align: right;
    background: #E89558;
    margin: 5%;
    height: 220px;
    box-shadow: 0 4px 8px 0 darkgray;
}

.intro{
    margin-top:10%;
    margin-left: 25%;
}


    .content_1 h2 {
        font-size: 45px;
    }

.padding{
    height: 50px;
}

.content_2 {

    font-family: 'Open Sans Condensed', sans-serif;
    margin: 5%;
}


.two {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2%;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 darkgray;
}

.edu {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2%;
}

.school_1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2%;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 darkgray;
}

.text {
    margin-left: 2%;
}
.content_2 a {
    text-decoration: none;
    color: #E8614D;
    
}

    .content_2 a:hover {
        transform: translate(25px,0);
        -webkit-transform: translate(25px,0); /** Chrome & Safari **/
        color: gainsboro;
    }

.contact {
    margin: 5%;
    box-shadow: 0 4px 8px 0 darkgray;
}
.bio {
    margin: 5%;
    background-color: #f2f2f2;
    padding: 2%;
    box-shadow: 0 4px 8px 0 darkgray;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #E8614D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: darkgray;
    }

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer{
    text-align: center;
    margin: 2%;
    padding: 2%;
}


.aboutme {
    font-family: 'Open Sans Condensed', sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 14%;
    margin: 5%;
    background-color: #f2f2f2;
}

.skilldiv {
    margin-top: -3%;
    margin-left: 13%;
}
.skillimg{
    width: 50%;
    height: auto;
}
.bi {
    text-align: center;
}

.c{ 
    margin-left: 12%;


}

.profile{
    margin-left: 32%;
}

.content_1 a{
    text-decoration: none;
    color: orangered;
}
.content_1 a:hover {
    text-decoration: underline;
    color: red;
}
    .courses{
    margin: 5%;
}


    @media screen and (max-width: 900px) {
        body {
        }


        .content_1 {
            height: 220px;
        }

        .image {
            width: 63%;
            height: auto;
            margin-left: 10%;
        }

        .content_2 img {
            display: none;
        }

        .skil {
           
            width: 100%;
            height: auto;
        }
        .img_id{
            display:none;
        }
        .school_1 {
            display: grid;
            grid-template-columns: auto;
            text-align: left;
        }
        .c{
            margin-left: 0%;
        }
        .uniaden{
            display: none;
        }

    }

@media screen and (min-width: 500px) {
    .skil {
        display: none;
    }
              
    }

@media screen and (max-width: 500px) {
    body {
    }

    .content_1 {
        height: auto;
    }
    .skil {
        width: 100%;
        height: auto;
    }
    .skillimg{
        display:none;
    }

    .image {
        width: 83%;
        height: auto;
        margin-left: 10%;
    }


}
